.new-post {
    display: block;
    width: 500px;
    margin: 0px auto;
}

.new-post textarea {
    width: 100%;
    min-width: 100%;
    max-width: 500px;
    height: 150px;
}

.forum-container button {
    display: block;
    margin: 0px auto;
}

.thread {
    padding: 0px;
}

.post {
    border: 1px solid black;
    display: block;
    padding: 7px;
    width: 500px;
    margin: 0px auto;
}

.post .name {
    color: gray;
    font-weight: bold;
    text-align: right;
    font-size: 18px;
}

.post .message {
    margin: 5px;
    word-wrap: break-word;
}

.post .date {
    font-size: 12px;
}

.new-post-success {
    color: green;
}

.new-post-error {
    color: red;
}